# Database
DATABASE_URL=file:./dev.db

# NextAuth
NEXTAUTH_SECRET=your_secret_here
NEXTAUTH_URL=http://localhost:3000

# Sentry (optional)
NEXT_PUBLIC_SENTRY_DSN=

# Pinata IPFS (optional, for NFT features)
PINATA_JWT=

# Alchemy (optional, for NFT features)
ALCHEMY_API_KEY=
NEXT_PUBLIC_ZORA_CONTRACT=
NEXT_PUBLIC_PINATA_GATEWAY=
